Øving[[:space:]]8/enwik8.txt filter=lfs diff=lfs merge=lfs -text
Øving[[:space:]]9/noder.txt filter=lfs diff=lfs merge=lfs -text
Øving[[:space:]]9/PreFileFrom.txt filter=lfs diff=lfs merge=lfs -text
Øving[[:space:]]9/PreFileTo.txt filter=lfs diff=lfs merge=lfs -text
